.sidenav {
    background-color: var(--primary-brand-color);
    width: 200px;
    border-radius: 0px;
   
}

.sidenav a {
   
    color: #fff !important;
}

.sidenav i {
    padding-right:  10px;
}

.content{
    padding: 16px;
    
}
